{% extends "EmployeeBundle:layout:mail_layout.html.twig" %}

{% block body %}
	Your Asset Request has been Accepted . Assset Request Id : {{assetId}} .<br>
		Please <a href="#">signin</a> to see details.
{% endblock %}