{% extends "EmployeeBundle:layout:mail_layout.html.twig" %}

{% block body %}
	<div>
		Your Asset Request has been Rejected . Assset Request Id : {{assetId}} .<br>
		Please <a href="#">signin</a> to see details.
	</div>
	
{% endblock %}