{% extends "EmployeeBundle:layout:mail_layout.html.twig" %}

{% block body %}
	
	<div>
		Leave Request has been created by {{ requester}}<br>
		Please <a href="#">signin</a> to respond to the request.
	</div>

	
{% endblock %}