{% extends "EmployeeBundle:layout:mail_layout.html.twig" %}

{% block body %}
	
	<div>
		Your Leave has been Accepted . Leave Request Id : {{leaveId}} .<br>
		Please <a href="#">signin</a> to see details.
	</div>

	
{% endblock %}