{% extends "EmployeeBundle:layout:mail_layout.html.twig" %}

{% block body %}
	Your  Request Ticket has been Resolved . Request ID : {{id}} .<br>
		Please <a href="#">signin</a> to see details.
{% endblock %}