{% extends "EmployeeBundle:layout:mail_layout.html.twig" %}

{% block body %}
	Your  Request Ticket has peen Created . Request title : {{title}} .<br>
		Please <a href="#">signin</a> to see details.
{% endblock %}