{% extends "EmployeeBundle:layout:layout_loggedIn.html.twig" %}
{% block title %}Reset Password{% endblock %}
{% block body %}
	<div class="row top-container">

		<div class="top-header ">Reset Password</div>
	</div>
	<div class="col col-md-12 admin-top-support">
			<button class="button-primary-danger go-back">Home</button>
		</div>
	<div class="row">
		<form action="{{path('resetPasswordSumit')}}" method="POST">
			<div class="col col-md-6">
				{% if message %}
				<div class="message-wrapper col col-md-8 ">
					<div>{{message}}</div>
				</div>
			{% elseif errormessage %}
				<div class="error-message-wrapper col col-md-8 ">
					<div>{{errormessage}}</div>
				</div>
			{% endif %}
							<input type="hidden" name="empId" value="{{employee.nID}}">
							<div class="form-item-container">
								<label class="form-item-Label">New Password</label>
								<input class="form-item-input" type="text" name="newPassword" required="required"></input>
							</div>
							<div class="form-item-container">
								<label class="form-item-Label">Confirm Password</label>
								<input class="form-item-input" type="text" name="confirmPassword" required="required"></input>
							</div>
			</div>
			<div class="col col-md-6 ">
				<button class="button-primary change-password" type="submit">Change</button>
			</div>
		</form>
	</div>
	

{% endblock %}
{% block stylesheets %}
	<style type="text/css">

		.change-password{
			margin-top: 10%;
		}
		
		</style>
{% endblock %}

{% block javascripts %}


<script type="text/javascript">
	$(document).ready(function () {
		$(".go-back").click(function(){
        window.location= location.origin + "/auth/dashboard";
		});
   
    
});
</script>
{% endblock %}