{% extends "EmployeeBundle:layout:layout-admin.html.twig" %}
{% block title %}Designation{% endblock %}
{% block body %}
<div class="row top-container">
	<div class=" top-header">
			Add Department
		</div>
		<div class="col col-md-12 admin-top-support">
			<button class="button-primary-danger go-back">Go Back</button>
		</div>
		{% if message %}
				<div class="message-wrapper col col-md-8 ">
					<div>{{message}}</div>
				</div>
			{% elseif errormessage %}
				<div class="error-message-wrapper col col-md-8 ">
					<div>{{errormessage}}</div>
				</div>
			{% endif %}
	<div class="col col-md-12">
		<form action="{{ path('addDesignationSubmit') }}" method="POST">

		<div class="row">
			<div class="col col-md-6">
				<div class="form-item-container">
								<label class="form-item-Label">Designation Name</label>
								<input class="form-item-input" type="text" name="name"  required="required"></input>
							</div>
							
			</div>
			
		</div>
		<div class="row">
						<div class="col-md-12 form-apply-button-container">
							<button class="button-primary" type="submit">Add</button>
						</div>
					</div>

		</form>
	</div>
</div>
{% endblock %}
{% block javascripts %}


<script type="text/javascript">
	$(document).ready(function () {
		$('.go-back').click(function(){
				window.location = location.origin + "/admin/update-designation"
			});
		
	});
	</script>
{% endblock %}

