{% extends "EmployeeBundle:layout:layout-admin.html.twig" %}
{% block title %}Leave{% endblock %}
{% block body %}
<div class="row top-container">
	<div class=" top-header">
			Add Leave
		</div>
		<div class="col col-md-12 admin-top-support">
			<button class="button-primary-danger go-back">Go Back</button>
		</div>
		{% if message %}
				<div class="message-wrapper col col-md-8 ">
					<div>{{message}}</div>
				</div>
			{% elseif errormessage %}
				<div class="error-message-wrapper col col-md-8 ">
					<div>{{errormessage}}</div>
				</div>
			{% endif %}
	<div class="col col-md-12">
		<form action="{{ path('addLeaveSubmit') }}" method="POST">

		<div class="row">
			<div class="col col-md-6">
				<div class="form-item-container">
								<label class="form-item-Label">Leave Name</label>
								<input class="form-item-input" type="text" name="leaveName"  required="required"></input>
							</div>
							<div class="form-item-container">
								<label class="form-item-Label">Days Alloted</label>
								<input class="form-item-input" type="number" name="daysAlloted" required="required" ></input>
								<div id="suggest"></div>
							</div>
			</div>
			<div class="col col-md-6">
				<div class="form-item-container">
								<label class="form-item-Label">Document Required</label>
								<span class="form-item-input" ><input class="" type="radio" name="document" checked="checked" value="1">Yes</input></span>
								<span class="form-item-input" ><input class="" type="radio" name="document" value="0"  >No</input></span>
								
							</div>
			</div>
		</div>
		<div class="row">
						<div class="col-md-12 form-apply-button-container">
							<button class="button-primary" type="submit">Add</button>
						</div>
					</div>

		</form>
	</div>
</div>
{% endblock %}
{% block javascripts %}


<script type="text/javascript">
	$(document).ready(function () {
		$('.go-back').click(function(){
				window.location = location.origin + "/admin/update-leaves";
			});
		
	});
	</script>
{% endblock %}

